<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title style="text-transform:capitalize">Strona główna użytkownika [[${#httpServletRequest.remoteUser}]]</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body class="bg-light">
<!-- Navigation -->
<header th:insert="fragments/navbars.html :: navbar-logged-user" ></header>

<br/>
<br/>
<div class="container" align="center">
    <div class="row">
        <div class="col">
            <form method="post" th:action="@{/index}">
                <div class="form-group" align="center">
                    <label style="font-size:30px" th:inline="text">
                        Witaj,
                        <a style="color:lightskyblue; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        !
                    </label>
                    <br/>
                    <div style="font-size:20px">Oto twoja strona główna. Zapraszamy do adoptowania naszych pupili!</div>
                    <br/>
                    <button class="btn btn-primary" type="submit" onclick="var a=document.createElement('a');a.href='/zwierzeta';a.click()" value="Sign Out">Przeglądaj pupili
                </button>
                </div>
            </form>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<footer th:insert="fragments/footers.html :: footer-all" ></footer>
</body>
</html>