<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Podpisywanie umowy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<!-- Navigation -->
<header th:insert="fragments/navbars.html :: navbar-logged-user" ></header>


<br/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm bg-secondary">
            <br/>
            <h1 align="center" style="color:white"><b>Nowa umowa</b></h1>
            <br/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h3 align="center">Dane pupila</h3>
            <br/>
            <table border="0" cellpadding="10" th:each="z : ${zwierze}">
                <tr>
                    <td>Imię: </td>
                    <td th:text="${z.imie}"></td>
                </tr>
                <tr>
                    <td>Gatunek: </td>
                    <td th:text="${z.gatunek}"></td>
                </tr>
                <tr>
                    <td>Rasa: </td>
                    <td th:text="${z.rasa}"></td>
                </tr>
                <tr>
                    <td>Rozmiar: </td>
                    <td th:text="${z.rozmiar_formatted}"></td>
                </tr>
                <tr>
                    <td>Średni koszt utrzymania: </td>
                    <td th:text="${z.koszt_utrzymania + ' zł/miesiąc'}"></td>
                </tr>
                <tr>
                    <td>Karma: </td>
                    <td th:text="${z.nazwa_karmy}"></td>
                </tr>
                <tr>
                    <td>Data przyjęcia: </td>
                    <td th:text="${z.data_przyjecia_formatted}"></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <h3 align="center">Dane pracownika nadzorującego</h3>
            <br/>
            <table border="0" cellpadding="10" th:each="p : ${pracownik}">
                <tr>
                    <td>Imię:</td>
                    <td th:text="${p.imie}"></td>
                </tr>
                <tr>
                    <td>Nazwisko:</td>
                    <td th:text="${p.nazwisko}"></td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td th:text="${p.email}"></td>
                </tr>
                <tr>
                    <td>Numer telefonu:</td>
                    <td th:text="${p.nr_telefonu_formatted}"></td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <br/>
    <div class="container">
        <div class="row justify-content-center">
            <br/>
            <div class="col-sm bg-secondary" align="center">
                <br/>
                <form id="form" action="#" th:action="@{/getDate}" th:object="${data_rozpoczecia}" method="post">
                    <h3 style="color:white">Data rozpoczęcia umowy: </h3>
                    <h5 style="color:lightgray">(Data odbioru pupila)</h5>

                    <input th:field="*{data_podpisu}" type="date" id="date_input"/>
                    <script th:src="@{/js/validate_umowa.js}"></script>
                    <br/>
                    <br/>
                    <button type="submit" style="background-color:#9eff21" class="btn btn-lg" id="sub">Podpisz</button>
                    <script th:src="@{/js/validate_umowa.js}"></script>
                </form>
                <br/>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/validate_umowa.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<footer th:insert="fragments/footers.html :: footer-all" ></footer>
</body>
</html>