<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Umowy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<!-- Navigation -->
<header th:insert="fragments/navbars.html :: navbar-logged-user" ></header>

<br/>
<br/>

<div align="center">
    <h2>Moje umowy</h2>
    <br/>
    <table border="1" cellpadding="10">
        <!-- Table header -->
        <thead>
            <tr> <!-- Table row -->
                <th>Imię zwierzęcia</th>
                <th>Data podpisu</th>
                <th>Data ważności</th>
                <th>Pracownik nadzorujący</th>
                <th>Status umowy</th>
            </tr>
        </thead>
        <!-- Table body -->
        <tbody>
            <tr th:each="ui : ${umowaInfo}">
                <td th:text="${ui.imie}">Imię zwierzęcia</td>
                <td th:text="${ui.data_podpisu}">Data podpisu</td>
                <td th:text="${ui.data_waznosci}">Data ważności</td>
                <td th:text="${ui.imie_nazwisko}">Pracownik nadzorujący</td>
                <td th:text="${ui.rodzajFormatted}">Status umowy</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <a href="/zwierzeta" type="button" class="btn btn-primary">Adoptuj pupila</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<footer th:insert="fragments/footers.html :: footer-all" ></footer>
</body>
</html>