<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Navigation bar</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<!-- fragments/navbar.html :: navbar -->
<body>
<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" style="font-size:30px" href="/"><img src="../assetes/other/logo.png" width="100"/>
            Zakątek zwierzątek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto align-middle">

                <li class="nav-item active align-middle">
                    <a class="nav-link" style="font-size:20px" th:href="@{/index}">Strona główna    </a>
                </li>

                <li class="nav-item active align-middle">
                    <a class="nav-link" style="font-size:20px" th:href="@{/zwierzeta}">Zwierzęta
                    </a>
                </li>

                <li class="nav-item active align-middle">
                    <a class="nav-link" style="font-size:20px" th:href="@{/lokacje}">Lokacje
                    </a>
                </li>

                <li class="nav-item active align-middle">
                    <a class="nav-link" style="font-size:20px; color:#9eff21" th:href="@{/login}">Zaloguj się</a>
                </li>

                <li class="nav-item active align-middle">
                    <a class="nav-link" style="font-size:20px; color:#9eff21" th:href="@{/register}">Rejestracja</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</div>

<!-- fragments/navbar.html :: navbar-logged-user -->
<div th:fragment="navbar-logged-user">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" style="font-size:30px" href="/"><img th:src="@{../assetes/other/logo.png}" width="100"/>
                Zakątek zwierzątek</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav ml-auto align-middle">
                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="font-size:20px" th:href="@{/main_user}">Strona główna</a>
                    </li>

                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="font-size:20px" th:href="@{/zwierzeta}">Zwierzęta
                        </a>
                    </li>

                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="font-size:20px" th:href="@{/user/umowy}">Umowy</a>
                    </li>
                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="color:#9eff21; font-size:20px">Zalogowano jako: [[${#httpServletRequest.remoteUser}]]   </a>
                    </li>
                    <li class="nav-item active align-middle">
                        <form method="post" th:action="@{/index}">
                            <input type="hidden" name="_csrf" value="07b8ec05-fe21-4819-80b1-2ad57ae9450e"/>
                            <input type="submit" class="align-middle btn btn-danger" style="width:200" value="Wyloguj" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <script th:src="@{/js/script.js}"></script>
    </nav>
</div>

<!-- fragments/navbar.html :: navbar-logged-emp -->
<div th:fragment="navbar-logged-emp">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" style="font-size:30px" href="/"><img th:src="@{../assetes/other/logo.png}" width="100"/>
                Zakątek zwierzątek</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto align-middle">
                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="font-size:20px" th:href="@{/main}">Strona główna</a>
                    </li>

                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="font-size:20px" th:href="@{/employee/emp_umowy_all}">Umowy</a>
                    </li>
                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="color:#9eff21;font-size:20px">Zalogowano jako: [[${#httpServletRequest.remoteUser}]]   </a>
                    </li>
                    <li class="nav-item active align-middle">
                        <form method="post" th:action="@{/index}">
                            <input type="hidden" name="_csrf" value="07b8ec05-fe21-4819-80b1-2ad57ae9450e"/>
                            <input type="submit" class="btn align-middle" style="background-color:#9eff21;color:black;width:200" value="Wyloguj" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <script th:src="@{/js/script.js}"></script>
    </nav>
</div>

<!-- fragments/navbar.html :: navbar-logged-admin -->
<div th:fragment="navbar-logged-admin">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" style="font-size:30px" href="/"><img th:src="@{../assetes/other/logo.png}" width="100"/>
                Zakątek zwierzątek</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto align-middle">
                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="font-size:20px" th:href="@{/main}">Strona główna</a>
                    </li>

                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="font-size:20px" th:href="@{/admin/employees}">Pracownicy</a>
                    </li>
                    <li class="nav-item active align-middle">
                        <a class="nav-link" style="color:#9eff21;font-size:20px">Zalogowano jako: [[${#httpServletRequest.remoteUser}]]   </a>
                    </li>
                    <li class="nav-item active align-middle">
                        <form method="post" th:action="@{/index}">
                            <input type="hidden" name="_csrf" value="07b8ec05-fe21-4819-80b1-2ad57ae9450e"/>
                            <input type="submit" class="btn align-middle" style="background-color:#9eff21;color:black;width:200" value="Wyloguj" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <script th:src="@{/js/script.js}"></script>
    </nav>
</div>

</body>
</html>
