<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Umowy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<!-- Navigation -->
<header th:insert="fragments/navbars.html :: navbar-logged-emp" ></header>

<br/>
<div class="container" align="center">
    <h2>Umowy</h2>
    <br/>
    <a th:href="@{/employee/emp_umowy}" type="button" class="btn" style="background-color:#9eff21;color:black">Oczekujące</a>
    <br/>
    <br/>
    <br/>
    <table border="1" cellpadding="10">
        <!-- Table header -->
        <thead>
        <tr> <!-- Table row -->
            <th>Imię zwierzęcia</th>
            <th>Data podpisu</th>
            <th>Data ważności</th>
            <th>Klient</th>
            <th>Status umowy</th>
            <th>Zmień status umowy</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each="ui : ${umowyList}">
            <td th:text="${ui.imie}">Imię zwierzęcia</td>
            <td th:text="${ui.data_podpisu_formatted}">Data podpisu</td>
            <td th:text="${ui.data_waznosci_formatted}">Data ważności</td>
            <td th:text="${ui.imie_nazwisko}">Klient</td>
            <td th:text="${ui.rodzajFormatted}">Status umowy</td>
            <td>
                <form id="form" action="#" th:action="@{/getUmowa}" th:object="${select}" method="post">
                    <input type="hidden" th:value="${ui.nr_umowy}" name="select"/>
                    <button type="submit" class="btn btn-link" name="select" value="select">Podgląd</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<footer th:insert="fragments/footers.html :: footer-all" ></footer>
</body>
</html>