<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title style="text-transform:capitalize">Strona główna pracownika [[${#httpServletRequest.remoteUser}]]</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<!-- Navigation -->
<header th:insert="fragments/navbars.html :: navbar-logged-emp" ></header>

<br/>
<br/>
<div class="container" align="center">
    <div class="row" align="center">
        <div class="col" align="center">
            <form method="post" th:action="@{/index}">
                <div class="form-group" align="center">
                    <label style="font-size:30px" th:inline="text">Witaj,
                        <a style="color:lightskyblue;text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        !</label>
                    <div style="font-size:20px" align="center">Zacznij przeglądać umowy:</div>
                    <div style="font-size:10px; color:#f1f1f1" align="center">DO ROBOTY</div>
                </div>
                <br/>
                <br/>
                <a th:href="@{/employee/emp_umowy_all}" type="button" style="background-color:#9eff21;color:black" class="btn">Umowy</a>
            </form>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<footer th:insert="fragments/footers.html :: footer-all" ></footer>
</body>
</html>