<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Adresy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BDBT Spring Boot Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>
<!-- Table -->
<div align="center">
    <table border="1" cellpadding="10">
        <!-- Table header -->
        <thead>
        <tr> <!-- Table row -->
            <th>Numer adresu</th>
            <th>Kraj</th>
            <th>Miasto</th>
            <th>Kod pocztowy</th>
            <th>Ulica</th>
            <th>Numer domu</th>
            <th>Numer mieszkania</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each="adres : ${listAdres}">
            <td th:text="${adres.nr_adresu}">Numer adresu</td>
            <td th:text="${adres.kraj}">Kraj</td>
            <td th:text="${adres.miasto}">Miasto</td>
            <td th:text="${adres.kod_pocztowy}">Kod pocztowy</td>
            <td th:text="${adres.ulica}">Ulica</td>
            <td th:text="${adres.nr_domu}">Numer domu</td>
            <td th:text="${adres.nr_mieszkania}">Numer mieszkania</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>