<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<!-- <body th:style="'background: url(/assets/img/img.png) no-repeat center center fixed;'"> -->


<!--<style th:inline="text">-->
<!--    body{-->
<!--        background: url([[@{/assets/img/img.png}]])-->
<!--        no-repeat center center fixed;-->
<!--    }-->
<!--</style>-->

<body>
<!-- Navigation -->
<header th:insert="fragments/navbars.html :: navbar" ></header>


<!--Using images in page    -->
<!-- <img th:src="@{/assets/img/img.png}" alt="Image" class="img-fluid"> -->


<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">
            <label style="font-size:30px">Schronisko dla zwierząt <span style="color:blue">Zakątek</span></label>
            <div style="font-size:20px">Aby zalogować się na konto, kliknij <a th:href="@{/main}"><b>tutaj</b></a> lub
                w prawym górnym rogu strony.
            </div>
        </div>
    </div>
</div>

<!--<div align="center">
    <h1>Sales Records</h1>

    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="sale : ${listSale}">
            <td th:text="${sale.id}">ID</td>
            <td th:text="${sale.item}">Item Name</td>
            <td th:text="${sale.quantity}">Quantity</td>
            <td th:text="${sale.amount}">Amount</td>
        </tr>
        </tbody>

    </table>

</div>-->


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

