<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Strona główna</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body class="bg-light">
<!-- Navigation -->
<header th:insert="fragments/navbars.html :: navbar" ></header>

<br/>
<br/>
<br/>
<div class="container" align="center">
    <div class="container" align="center">
        <div class="row">
            <div class="col" align="center">
                <div class="container" align="center">
                    <label style="font-size:30px">Witaj w schronisku zwierząt <a th:href="@{/}" class="text-primary">Zakątek zwierzątek</a>!</label>
                    <div style="font-size:20px">Aby zalogować się na konto, kliknij <a th:href="@{/main}"><b>tutaj</b></a> lub
                        w prawym górnym rogu strony.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="container" align="center">
        <div class="card" style="width: 50rem; height: 37rem;">
            <a th:href="@{/lokacje}"><img class="card-img-top" src="assetes/other/lokalizacje.png" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><b>Lokalizacje</b></h5>
                <p class="card-text">Przeglądaj lokalizacje naszych schronisk.</p>
                <a style="background-color:#9eff21;color:black" th:href="@{/lokacje}" class="btn">Przeglądaj</a>
            </div>
        </div>

        <br/>
        <br/>

        <div class="card" style="width: 50rem; height: 37rem;">
            <a th:href="@{/zwierzeta}"><img class="card-img-top" src="assetes/other/schronisko.png" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><b>Nasi pupile</b></h5>
                <p class="card-text">Zapoznaj się z listą naszych pupili. Zachęcamy do adopcji!</p>
                <a th:href="@{/zwierzeta}" style="background-color:#9eff21;color:black" class="btn">Przeglądaj</a>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<footer th:insert="fragments/footers.html :: footer-all" ></footer>
</body>
</html>

