<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zwierzęta</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<!-- Navigation -->
<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("navbar");
    });
</script>

<br/>
<h1 align="center">Nasi pupile</h1>
<br/>

<div class="container" align="center">
    <form id="form" action="#" th:action="@{/getFilter}" th:object="${gatunekFilter}" method="post">
        <div th:object="${gatunekFilter}"  class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtruj
            </button>
            <div th:object="${gatunekFilter}"  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <input type="checkbox" th:field="*{pies}" value="Pies" th:value="Pies" id="Pies" name="Pies"/>
                <label for="Pies">Pies</label>
                <input type="checkbox" th:field="*{kot}" value="Kot" th:value="Kot" id="Kot" name="Kot"/>
                <label for="Kot">Kot</label>
                <button type="submit">Filtruj</button>
            </div>
        </div>
    </form>
</div>

<br/>

<div class="container" align="center">
    <div class="card" style="width: 18rem;" th:each="zw: ${listZwierzeta}">
        <div class="card-body">

            <img th:src="@{${'assetes/animals/'+ zw.nr_zwerzecia +'.png'}}" width="200px"/>

            <br/>
            <h4 class="card-title" th:text="${zw.imie}"><b>Imię</b></h4>
            <p><label for="rasa">Rasa: </label>
            <span class="card-text" id="rasa" th:text="${zw.rasa != null} ? ${zw.rasa} : 'Nieznana'">Rasa</span></p>
            <p><label for="plec">Płeć: </label>
            <span class="card-text" id="plec" th:text="${zw.plec}">Płeć</span></p>
            <p><label for="rozmiar">Rozmiar: </label>
            <span class="card-text" id="rozmiar" th:text="${zw.rozmiar}">Rozmiar</span></p>
            <form th:action="@{selectAnimal}" th:object="${selected}" method="post">
                <input type="hidden" class="form-control" th:value="${zw.nr_zwerzecia}" id="selected" name="selected">
                <button type="submit" class="btn btn-primary">Adoptuj</button>
            </form>
        </div>
    </div>
    <br/>
    <br/>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>